*{
    margin: 0;
    padding: 0;
}
.main-wrapper{
	margin: 20px auto;
	width: 600px;
	text-align: center;
}

.order-status-wrapper {
	padding: 20px;
	margin-top: 10px;
	border-radius: 10px;
}

.order-status-wrapper .col-md-3 {
	margin: 10px 0;
}

.order-status-wrapper .card-header {
	background: rgb(79, 78, 78);
	color: white;
}

.order-status-wrapper .card-footer {
	background: rgb(79, 78, 78);
	color: white;
}

.order-status-wrapper .badge.bg-success {
	padding: 5px 10px;
	font-size: 1.1em;
}

.order-status-wrapper .card {
	border-radius: 20px;
	background-color: silver;
}

.order-status-wrapper .card-header {
	border-radius: 20px 20px 0 0;
}

.order-status-wrapper .card-footer {
	border-radius: 0 0 20px 20px;
}
td:nth-child(even){
	text-align: left;
}
#totalCost{
	text-align: center ;
}